{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota 2</title>
    <link rel="shortcut icon" href="static/Games_W/img/logo_dota2.jpg" type="image/x-icon">
    <link href="{% static 'Games_W\css\EstilosDota2.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Games_W\css\bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Games_W\css\Menu.css' %}" rel='stylesheet' type='text/css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">


    
</head>


<body>
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="logo">
                            <a href="../World_gamer.html#"><img
                                    src="static\Games_W\img\logo.png" alt="" /></a>
                            <div class="menu">
                                <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
                                <ul class="nav" id="nav">
                                    <li><a href="GTAV.html">GTA V</a></li>
                                    <li><a href="PUBG.html">PUBG</a></li>
                                    <li><a href="LOL.html">LOL</a></li>
                                    <li><a href="Fornite.html">Fortnite</a></li>
                                    <li><a href="Dota2.html">Dota 2</a></li>
                                    <li><a href="Minecraft.html">Minecraft</a></li>
                                    <li><a href="Roblox.html">Roblox</a></li>
                                    <li><a href="">cerrar sesion</a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="textos-header">
            <h1>Dota 2</h1>

        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-1.35,30.09 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #000;"></path>
            </svg></div>
    </header>

    <main>
        <div class="content-bottom">
            <div class="container">
                <div class="row content_bottom-text">
                    <div class="col-md-7">
                        <h3>¿De que se trata?</h3>
                        <p class="m_1">Dota 2 es un juego multijugador de estrategia en tiempo real, distribuido por la plataforma 
                            Steam de Valve. En este, dos equipos de cinco jugadores tienen el objetivo 
                            de destruir las estructuras rivales controlando a personajes denominados héroes. Ellos no pueden 
                            controlar las estructuras ni a las unidades que aparecen cada cierto tiempo.
                            Siempre se juega en un mismo mapa que tiene dos lados: Radiant y Dire, cada
                             uno de ellos presenta ventajas y desventajas respecto a la visión, unidades neutrales y posicionamiento. Hay tres 
                             líneas donde chocan unidades no controladas: arriba, abajo y medio.</p>
                        <h3>Fecha de lazamiento</h3>
                        <p class="m_2">creado por IceFrog sali el 9 de julio de 2013, este juego tambien se gano el cariño de la comunidad, ya que 
                            este juego sigue siendo apoyado en ambito competitivo, siendo su principal forma de publicidad. Tambien
                            resive actulizaciones frenecuentas para que el juego no tengas las misma mecanicas de siempre.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="contenido-texto">
            <div class="contenedor">
                <h2 class="titulo2">Requisitos minimos para jugar.</h2>
                <div class="cards">
                    <div class="card">
                        <img src="static/Games_W/img/logo_dota2.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>CPU: Intel o AMD de doble núcleo a 2,8 GHz</h4>
                            <h4>GPU: NVIDIA GeForce 8600/9600GT, ATI/AMD Radeon HD2600/3600</h4>
                            <h4>RAM: 4 GB de RAM</h4>
                            <h4>HDD: 15 GB de espacio disponible</h4>
                            <h4>SO:  Windows 7 o posterior</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Products</h4>
                        <li><a href="#">Mens</a></li>
                        <li><a href="#">Womens</a></li>
                        <li><a href="#">Youth</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>About</h4>
                        <li><a href="#">Careers and internships</a></li>
                        <li><a href="#">Sponserships</a></li>
                        <li><a href="#">team</a></li>
                        <li><a href="#">Catalog Request/Download</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Customer Support</h4>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Shipping and Order Tracking</a></li>
                        <li><a href="#">Easy Returns</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">Replacement Binding Parts</a></li>
                    </ul>
                </div>
                <div class="col-md-3">

                    <ul class="social">
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="twitter"><a href="#"><span> </span></a></li>
                        <li class="instagram"><a href="#"><span> </span></a></li>
                        <li class="pinterest"><a href="#"><span> </span></a></li>
                        <li class="youtube"><a href="#"><span> </span></a></li>
                    </ul>


                </div>
            </div>
            <div class="row footer_bottom">
                <div class="copy">
                    <p>© 2022 proyecto fundamentos by <a>xxrairexx</a></p>
                </div>


            </div>
        </div>


</body>