{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft</title>
    <link rel="shortcut icon" href="images/logo_minecraf.png" type="image/x-icon">
    <link href="{% static 'Games_W\css\Estilominecraft.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Games_W\css\boostrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Games_W\css\Menu.css' %}" rel='stylesheet' type='text/css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="logo">
                            <a href="../World_gamer.html#"><img
                                    src="static\Games_W\img\logo.png" alt="" /></a>
                            <div class="menu">
                                <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
                                <ul class="nav" id="nav">
                                    <li><a href="GTAV.html">GTA V</a></li>
                                    <li><a href="PUBG.html">PUBG</a></li>
                                    <li><a href="LOL.html">LOL</a></li>
                                    <li><a href="Fornite.html">Fortnite</a></li>
                                    <li><a href="Dota2.html">Dota 2</a></li>
                                    <li><a href="Minecraft.html">Minecraft</a></li>
                                    <li><a href="Roblox.html">Roblox</a></li>
                                    <li><a href="">cerrar sesion</a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="textos-header">
            <h1>Miencraft</h1>

        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-1.35,30.09 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #000;"></path>
            </svg></div>
    </header>

    <main>
        <div class="content-bottom">
            <div class="container">
                <div class="row content_bottom-text">
                    <div class="col-md-7">
                        <h3>¿De que se trata?</h3>
                        <p class="m_1">Miencraft es un juego de supervivencias, con mecánicas de lucha, construcción y
                            creación de herramientas en un mundo abierto,
                            que tiene como objetivo recolectar materiales y vencer al dragón del “END”, este
                            juego fue creando de forma cuadrada,
                            esto se refiere a que los bloques, materiales y todo el mundo esta echo en
                            cuadrados. Tiene diversos modos de juego,
                            está el modo supervivencia ya explicada, el mod creativo que tienes todos los
                            materiales para construir lo que desea,
                            y el modo extremo que al morir una vez se acaba la partida y tienes que reiniciar
                            una nueva, también encontramos el multijugador
                            donde la comunidad implementa mapas con modalidad distinta a la del modo normal.</p>
                        <h3>Fecha de lazamiento</h3>
                        <p class="m_2">Salió el 18 de noviembre de 2011 creado por Markus Persson más conocido como
                            “Notch”, y la razón de porque
                            sigue jugado actualmente es por los mods de la comunidad, ya que implementa nuevas
                            posibilidades en el mundo y
                            tener diversos objetivos, también es por las series de los creadores de contendió,
                            eventos y actualizaciones del juego.</p>

                    </div>
                </div>
            </div>
        </div>

        <section class="contenido-texto">
            <div class="contenedor">
                <h2 class="titulo2">Requisitos recomendados para jugar.</h2>
                <div class="cards">
                    <div class="card">
                        <img src="images/logo_minecraf.png" alt="">
                        <div class="contenido-texto-card">
                            <h4>CPU: Intel Core i5-4690 3.5GHz / AMD A10-7800 APU 3.5 GHz o equivalente</h4>
                            <h4>GPU(discreta): Serie GeForce 700 o serie AMD Radeon Rx 200 (excepto conjuntos de
                                chips integrados) con OpenGL 4.5</h4>
                            <h4>RAM: 8 GB</h4>
                            <h4>HDD: 4 GB (se recomienda SSD)</h4>
                            <h4>SO: 64 bit recommended<br>
                                Windows: Windows 10<br>
                                macOS: macOS 10.12 Sierra<br>
                                Linux: Any modern distributions from 2014 onwards.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </main>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Products</h4>
                        <li><a href="#">Mens</a></li>
                        <li><a href="#">Womens</a></li>
                        <li><a href="#">Youth</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>About</h4>
                        <li><a href="#">Careers and internships</a></li>
                        <li><a href="#">Sponserships</a></li>
                        <li><a href="#">team</a></li>
                        <li><a href="#">Catalog Request/Download</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Customer Support</h4>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Shipping and Order Tracking</a></li>
                        <li><a href="#">Easy Returns</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">Replacement Binding Parts</a></li>
                    </ul>
                </div>
                <div class="col-md-3">

                    <ul class="social">
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="twitter"><a href="#"><span> </span></a></li>
                        <li class="instagram"><a href="#"><span> </span></a></li>
                        <li class="pinterest"><a href="#"><span> </span></a></li>
                        <li class="youtube"><a href="#"><span> </span></a></li>
                    </ul>


                </div>
            </div>
            <div class="row footer_bottom">
                <div class="copy">
                    <p>© 2022 proyecto fundamentos by <a>xxrairexx</a></p>
                </div>


            </div>
        </div>
</body>