{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBG</title>
    <link rel="shortcut icon" href="images/icono_pubg.jpg" type="image/x-icon">
    <link href="{% static 'Games_W\css\EstiloPUBG.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Games_W\css\bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Games_W\css\Menu.css' %}" rel='stylesheet' type='text/css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header class="hader1">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="logo">
                            <a href="../World_gamer.html#"><img src="static\Games_W\img\logo.png" alt="" /></a>
                            <div class="menu">
                                <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
                                <ul class="nav" id="nav">
                                    <li><a href="GTAV.html">GTA V</a></li>
                                    <li><a href="PUBG.html">PUBG</a></li>
                                    <li><a href="LOL.html">LOL</a></li>
                                    <li><a href="Fornite.html">Fortnite</a></li>
                                    <li><a href="Dota2.html">Dota 2</a></li>
                                    <li><a href="Minecraft.html">Minecraft</a></li>
                                    <li><a href="Roblox.html">Roblox</a></li>
                                    <li><a href="">cerrar sesion</a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="textos-header">
            <h1>PUBG</h1>

        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-1.35,30.09 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #000;"></path>
            </svg></div>

    </header>

    <main>
        <div class="content-bottom">
            <div class="container">
                <div class="row content_bottom-text">
                    <div class="col-md-7">
                        <h3>¿De que se trata?</h3>
                        <p class="m_1">PUBG es un juego de modalidad battle royale que tendrad 100 jugadores, al iniciar la
                            partida, tu o tu
                            escuadrón,se tiene que lazar a una isla, obteniendo armas, munición y objetos de
                            supervivencia. El objetivo del juego
                            es sobrivir a los otros jugadores y matarlos para quedar el ultimo en pie, tambien
                            tiene que sobrivir a una
                            tormenta toxica que se va reduciendo hasta que quede en un circulo pequeño, que
                            obligarar a los ultimos en vida,
                            luchar para sobrivir.</p>
                            <h3>Fecha de lazamiento</h3>
                        <p class="m_2">Salio el 23 de marzo del 2017 fue creadado por PUBG studios que en ese enotonces era
                            (PUBG Corporation) y publiacado porque
                            Bluehole actualmente como (Krafton), la razaon que porque sigue siendo jugado este
                            juego, es por su competitividad, ya que
                            requiere de muchos reflejos y estrategia.</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="contenido-texto">
            <div class="contenedor">
                <h2 class="titulo2">Requisitos recomendados para jugar.</h2>
                <div class="cards">
                    <div class="card">
                        <img src="images/icono_pubg.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>CPU: Intel Core i5-6600K / AMD Ryzen 5 1600</h4>
                            <h4>GPU: NVIDIA GeForce GTX 1060 3GB / AMD Radeon RX 580 4GB</h4>
                            <h4>RAM: 16 GB de RAM</h4>
                            <h4>HDD: 50 GB de espacio disponible</h4>
                            <h4>SO: 64-bit Windows 7, Windows 8.1, Windows 10</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Products</h4>
                        <li><a href="#">Mens</a></li>
                        <li><a href="#">Womens</a></li>
                        <li><a href="#">Youth</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>About</h4>
                        <li><a href="#">Careers and internships</a></li>
                        <li><a href="#">Sponserships</a></li>
                        <li><a href="#">team</a></li>
                        <li><a href="#">Catalog Request/Download</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Customer Support</h4>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Shipping and Order Tracking</a></li>
                        <li><a href="#">Easy Returns</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">Replacement Binding Parts</a></li>
                    </ul>
                </div>
                <div class="col-md-3">

                    <ul class="social">
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="twitter"><a href="#"><span> </span></a></li>
                        <li class="instagram"><a href="#"><span> </span></a></li>
                        <li class="pinterest"><a href="#"><span> </span></a></li>
                        <li class="youtube"><a href="#"><span> </span></a></li>
                    </ul>


                </div>
            </div>
            <div class="row footer_bottom">
                <div class="copy">
                    <p>© 2022 proyecto fundamentos by <a>xxrairexx</a></p>
                </div>


            </div>
        </div>

</body>