* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 100px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo2 {
    color: #000;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    justify-content: center;
    line-height: 1.2em;
    margin: 2% 0 10%;

}

header {
    width: 100%;
    height: 600px;
    background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(319, 80%, 96%, 0.603), hsl(316, 83%, 57%, 0.603), hsl(276, 97%, 38%, 0.603), hsl(246, 100%, 6%, 0.603)),  url(../images/thresh.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(317, 78%, 96%, 0.603), hsl(316, 83%, 57%, 0.603), hsl(276, 97%, 38%, 0.603), hsl(246, 100%, 6%, 0.603)),  url(../images/thresh.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;


}


header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;



}

.textos-header h1 {
    font-size: 100px;
    font-family: "Playfair Display", serif;
    color: #fff;
}


.wave {
    color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
}





/*menu de inicio*/


nav {
    background: #290e4d;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #000090;
    transition: .5s;
}

li a.active2 {
    background: #900000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

    #check:checked~ul {
        left: 0;
    }
}

main .sobre-nosotros {
    padding: 30px 0 60px 10px;
}

.contenedor-sobre-nostros {

    background: #f2f2f2;
    display: flex;


}

.imagen-about-us {
    width: 45%;
}


.sobre-nosotros .contenido-textos {

    width: 200%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    padding: 30px 10px 10px 20px;

}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos p {
    padding: 0px 15px 30px 15px;
    font-weight: 300;
    text-align: justify;

}


/*a*/




.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #000000;
    display: flex;
    width: 90%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(23, 207, 210, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}



/*De que se trata*/

.content-bottom {
    padding: 30px 0;
    width: 100%;
    background: url(../images/akiali.jpg)no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    height: 75%;

}

.content-bottom2 {
    width: 100%;
    background: url(../images/coliseugeek-wallpaper-fortnite-4k_img1-scaled.jpg)no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    height: 100%;
    padding: 15% 0;
}

.content_bottom-text h3 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 2% 0 10%;
}

p.m_1 {
    color: #FFF;
    font-size: 1.2em;
    line-height: 2.2em;
    margin-bottom: 6%;
}

p.m_2 {
    color: #FFF;
    font-size: 1.2em;
    line-height: 2.2em;
}


/* parte de abajo*/
.footer {
    background: #000;
    padding: 5% 0;
}

ul.footer_box {
    list-style: none;
    padding: 0;
}

ul.footer_box h4 {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8%;
}

ul.footer_box li a {
    color: #B8B6B6;
    font-size: 0.8125em;
    text-decoration: none;
    line-height: 2em;
}

ul.footer_box li a:hover {
    color: #fff;
}

.footer_search {
    margin-top: 10%;
    width: 100%;
    position: relative;
}

.footer_search input[type="text"] {
    outline: none;
    padding: 12px 15px;
    outline: none;
    color: #202020;
    background: #FFF;
    border: none;
    width: 74%;
    line-height: 1.5em;
    font-size: 0.8125em;
}

.footer_search input[type="submit"] {
    background: #C7C7C7;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    line-height: 1.6em;
    font-size: 1em;
    color: #000;
    font-weight: 800;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.footer_search input[type="submit"]:hover {
    background: #222;
    color: #fff;
}

ul.social {
    list-style: none;
    padding: 0;
    margin-top: 17%;
}

ul.social li:first-child,
ol li:first-child {
    margin-top: 0px;
    margin-left: 0;
}

ul.social li {
    display: inline-block;
    margin-right: 8px;
}

ul.social li a span:hover {
    opacity: 0.5;
}

li.facebook a span {
    height: 25px;
    width: 25px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat -256px -276px;
}

li.twitter a span {
    height: 25px;
    width: 25px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat -298px -276px;
}

li.instagram a span {
    height: 25px;
    width: 25px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat -346px -276px;
}

li.pinterest a span {
    height: 25px;
    width: 25px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat -391px -276px;
}

li.youtube a span {
    height: 25px;
    width: 47px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat -437px -276px;
}

.dropdown dd,
.dropdown dt,
.dropdown ul {
    margin: 0px;
    padding: 0px;
}

.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.dropdown a:hover {
    color: #fff;
}

.dropdown dt a:hover {
    color: #fff;
}

.dropdown dt a {
    background: url(../images/arrow.png) no-repeat scroll right center;
    display: block;
    padding-right: 20px;
}

.dropdown dt a span {
    cursor: pointer;
    cursor: pointer;
    display: block;
    padding: 0px 10px;
    font-size: 0.85em;
    color: #FFF;
    font-weight: 400;
}

.dropdown dd ul {
    background: #222 none repeat scroll 0 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 13px;
    width: auto;
    min-width: 200px;
    list-style: none;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
    font-size: 13px;
}

.dropdown dd ul li a:hover {
    background-color: #444;
}

.dropdown img.flag {
    border: none;
    vertical-align: middle;
    margin-left: 10px;
}

.flagvisibility {
    float: right;
}

/*--dropdown--*/
.dropdown {
    display: block;
    display: inline-block;
    position: relative;
    z-index: 9999;
    margin: 0;
}

/* ===[ For demonstration ]=== */
/* ===[ End demonstration ]=== */
.dropdown .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    line-height: 29px;
    text-decoration: none !important;
    background: #595959;
    font-size: 11px;
}

.dropdown input[type="checkbox"]+.dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown input[type="checkbox"]:checked+.dropdown_button .arrow {
    border-color: white transparent transparent transparent
}

.dropdown .dropdown_content {
    position: absolute;
    border: 1px solid #777;
    padding: 0px;
    background: #595959;
    margin: 0;
    display: none;
}

.dropdown .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #5F5D5D;
    border-bottom: 1px solid #555353;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown .dropdown_content li:hover {
    border-top-color: #555;
    border-bottom-color: #555;
    background: #444;
}

.dropdown .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: #fff;
    font-size: 13px;
    text-decoration: none !important;
    white-space: nowrap;
}

.dropdown .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}

.dropdown input[type="checkbox"]:checked~.dropdown_content {
    display: block
}

.dropdown input[type="checkbox"] {
    display: none
}

.copy {
    float: left;
}

.copy p {
    font-size: 0.8125em;
    font-weight: 600;
    color: #B8B6B6;
}

.copy p a {
    color: #fff;
}

.footer_bottom {
    padding: 0 2%;
    margin-top: 5%;
}